<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <div class="container" fxLayoutAlign="center">
                <div fxFlex="150%" class="text-center no-records animate">
                    <img src="assets/images/elyontec.jpeg" alt="Logo Elyontec">
                </div>
            </div>

            <mat-card-title>Cobrança</mat-card-title>
            <mat-card-subtitle>Login</mat-card-subtitle>
            <mat-card-content>

                <mat-form-field class="full-width">
                    <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                        type="email">
                    <mat-error id="invalidEmailError" *ngIf="loginForm.controls['email'].hasError('email')">
                        Por favor, insira um e-mail válido
                    </mat-error>
                    <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
                        Email é
                        <strong>required</strong>
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="full-width">
                    <input id="senhaInput" matInput placeholder="Senha" formControlName="senha" type="password"
                        autocomplete="current-senha">
                    <mat-error id="senhaObrigatoriaErro" *ngIf="loginForm.controls['email'].hasError('required')">
                        Senha é
                        <strong>obrigatória</strong>
                    </mat-error>
                </mat-form-field>

                <div class="full-width">
                    <mat-slide-toggle formControlName="lembrar">Relembrar meu endereço de e-mail</mat-slide-toggle>
                </div>

            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary" [disabled]="loginForm.invalid || loading"
                    (click)="login()">Login</button>
                <button mat-button id="resetarSenha" (click)="resetarSenha()" type="button">Resetar Senha</button>
            </mat-card-actions>

        </mat-card>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
</div>
