<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2>Integração Vonix</h2>
        <p-button (click)="discar()">Discar para (67)33180700</p-button> |
        <p-button  >Transferir para 0715</p-button> |
          <p-button  >Desligar</p-button> |
            <p-button  >Pausar motivo Toalete</p-button> |
              <p-button  >Despausar</p-button> |
                <p-button >Deslogar</p-button> |
                  <p-button >Inserir tag chamada 1234.123</p-button> |
                    <p-button >Obter Status do Agente</p-button>

        <div id="output">
          <!-- events will be printed here -->
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

